.article {
  overflow: hidden;
  &__title {
    font-size: 1.5rem;
  }
  &__img{
    img {
      margin: 0px;
      padding: 0px;
    }
    padding: 5px;
    padding-bottom: 2px;
    border: 1px solid #D4B48C;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 1.5rem;
  }
  &__text {
    text-align: justify;
  }

}

@media screen and (min-width: 597px){
  .article {
    &__img{
      float: left;
      width: 200px;
      margin-right: 1rem;
    }
  }
}
