.header{
  background-color: #BD8CD4;
  text-align: center;
  padding-bottom: 2rem;
  &__logo {
    padding-top: 2rem;
    padding-bottom: 2rem;
    img {
      width: 30%;
    }
  }
  &__title {
    margin: 0px;
  }
}
