.link {
  padding-left: 1.2rem;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 1rem;
    height: 1rem;
    background-image: url('../assets/images/external-link.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
  }
  &--facebook{
    &:before {
      background-image: url('../assets/images/facebook.png');
    }
  }
}
