<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style media="print">

  </style>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="container">
  <header class="header">
    <div class="header__logo">
      <img src="https://seeklogo.com/images/W/webpack-logo-9E66EE203A-seeklogo.com.png" alt="">
    </div>
    <h1 class="header__title">
      Front-end cource
    </h1>
  </header>
  <section class="main-content">
    <h2 class="main-content__title">Articles</h2>
    <div class="articles">
      <div class="articles__items">
        <article class="article">
          <h1 class="article__title">Article title</h1>
          <div class="article__img">
           <img src="https://picsum.photos/id/1001/640/480"/>
          </div>
          <div class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </div>
        </article>
        <article class="article">
          <h1 class="article__title">Article title</h1>
          <div class="article__img">
            <img src="https://picsum.photos/id/1001/640/480" />
          </div>
          <div class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </div>
        </article>
        <article class="article">
          <h1 class="article__title">Article title</h1>
          <div class="article__img">
            <img src="https://picsum.photos/id/1001/640/480" />
          </div>
          <div class="article__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </div>
        </article>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="footer__contacts">
      <div class="footer__contact">
         +38(078)98456
      </div>
      <div class="footer__contact--email">
        some.email@gmail.com
      </div>
    </div>
    <div class="footer__links">
      <div class="link">
        <a href="/about.html">About link</a>
      </div>
      <div class="link">
        <a href="/test.html">Test link</a>
      </div>
      <div class="link link--facebook">
        <a href="#">Facebook link</a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
