<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<a href="/index.html">Index link</a>
<div class="parent">
  <div class="child first"></div>
  <div class="child">
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
  </div>
  <div id="third" class="child"></div>
  <div class="child" style="background-color: #111111;"></div>
  <div class="child">
    <div class="child"></div>
    <div class="child"></div>
  </div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child last"></div>
</div>
</body>
</html>
