@import "~normalize.css";
@import "fonts.css";
@import "blocks/index";
@import "selector_tests";
$body-color: #000000;
body {
  font-family: 'Roboto', sans-serif;
  color: $body-color;
}
img {
  max-width: 100%;
}
@media print  {
  .footer,.header{
    display:none;
  }
  img {
    width: 30%;
    float:left;
    padding-right: 20px;
  }
  .article {
    overflow: hidden;
  }
}
