:root {
  --circle-size: 5rem;
}
#third {
  background-color: #767676;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  position: relative;
}
.parent:before{
  content: "Default siz111e";
  display: block;
  background-color: #D4B48C;
  position: absolute;
  top:-100px;
  padding: 20px;
  border-radius: 10px;
}
.child > .child {
  display:none;
}
.child {
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: #214ecb;
  border:1px solid black;
  border-radius: calc(var(--circle-size)/2);
}


/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
  .parent:before {
    content: "Smartphones (portrait and landscape) (min-width: 320px) and (max-width: 480px)";
  }
}
/* Smartphones (portrait) ---------- */
/*@media screen and (max-width: 320px){
  .parent:before {
    content: "Default size";
  }
}*/
/* Smartphones (landscape) ---------- */
@media screen and (min-width: 321px){
  .parent:before {
    content: "Smartphones (landscape) (max-width: 321px)";
  }
}
/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
  .parent:before {
    content: "Tablets, iPads (portrait and landscape) (min-width: 768px) and (max-width: 1024px)";
  }
}
/* Tablets, iPads (portrait) ---------- */
@media screen and (min-width: 768px){
  .parent:before {
    content: "Tablets, iPads (portrait) (max-width: 768px)";
  }
}
/* Tablets, iPads (landscape) ---------- */
@media screen and (min-width: 1024px){
  .parent:before {
    content: "Tablets, iPads (landscape)  (max-width: 1024px)";
  }
}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
  .parent:before {
    content: "Desktops and laptops (min-width: 1224px)";
  }
  .child {
    background-color: chocolate;
  }
}
/* Large screens ---------- */
@media screen and (min-width: 1824px){
  .parent:before {
    content: "Large screens  (min-width: 1824px)";
  }
  .child {
    background-color: chocolate;
  }
}








